@font-face {
    font-family: "Sukar Black";
    src: url("Fonts/Sukar black.ttf");
    }

@font-face {
    font-family: "Lumios Marker";
    src: url("Fonts/Lumios Marker.otf");
    }

@font-face {
    font-family: "Intro Rust";
    src: url("Fonts/Intro Rust.otf");
    }

@font-face {
    font-family: "Norwester";
    src: url("Fonts/Norwester.otf");
    }

@font-face {
    font-family: "Aileron-Heavy";
    src: url("Fonts/Aileron-Heavy.otf");
    }

@font-face {
    font-family: "LibreFranklin-Bold";
    src: url("Fonts/LibreFranklin-Bold.ttf");
    }

body {
    margin: 0;
    padding: 0;
    }

.section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.background_sec {
    background-image: url('Backgrounds/HistoryBG.png');
    }

.logo {
    position:absolute;
    top: 3vh;
    left: 2vw;
    height: auto;
    width:6vw;
    }

.nav1 {
    position: absolute;
    top: 6.5vh;
    left: 8.5vw;
    align-items: center;
    }

.nav1_btn {
    font-family: "Sukar Black";
    font-size: 1.5vw;
    padding: 0em 2em;
    color:white;
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
    }

.nav1_btn:hover {
    font-size: 1.7vw;
    border-radius: 5vw;
    background-color: rgba(0, 0, 0, 0.1);
    }

.bulawan_title1 {
    position: absolute;
    top:8vh;
    left:28vw;
    text-align: center;
    font-size: 5vw;
    font-family: "Intro Rust";
    color:white;
    text-shadow: 0.3vw 0px 0.3vw #000000a8;
  }

.bulawan_tagline1 {
    position: absolute;
    top:24vh;
    left:36vw;
    text-align: center;
    font-size: 2.3vw;
    font-family: "Lumios Marker";
    color:white;
    text-shadow: 0.3vw 0px 0.3vw #00000083;
  }

.background_bit {
    position: absolute;
    top: 33vh;
    left: 50vw;
    transform: translateX(-50%);
    padding: 0em 0em;
    width: 85vw;
    border-radius: 2.4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Sukar Black";
    color: black;
    font-size: 2vw;
    background-color: #ffd154;
}

.background_txt {
    position: absolute; 
    top:38vh;
    left: 7.57vw; 
    width: 78.5vw; 
    text-align: justify;
    padding-left: 3.2vw; 
    padding-top: 8vh;
    padding-right: 3.2vw;
    padding-bottom: 4vh;
    border-bottom-left-radius: 2.4vw;
    border-bottom-right-radius: 2.4vw;
    font-size: 0.82vw; 
    font-family: "Sukar Black";
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.mvission_sec {
    background-image: url('Backgrounds/MVisionBG.png');
    }

.mission_title {
    position: absolute;
    top: 123vh;
    left: 0;
    text-align: center;
    padding: 0em;
    width: 48vw;
    border-radius: 0 3vw 3vw 0;
    font-size: 2.7vw;
    font-family: "Sukar Black";
    color:black;
    background-color: #ffd154;
}

.mission_txt{
    position: absolute;
    top: 128vh;
    left: 0;
    border-radius: 0 18vw 23vw 0;
    text-align: justify;
    padding-left: 2.5vw; 
    padding-top: 7.7vh;
    padding-right: 8.5vw;
    padding-bottom: 8.5vh;
    width: 38vw;
    font-size: 1.4vw;
    font-family: "Sukar Black";
    color:white;
    background-color: rgba(0, 0, 0, 0.5);

}

.vision_title {
    position: absolute;
    top: 124vh;
    right: 0;
    padding: 0em;
    width: 45vw;
    text-align: center;
    border-radius: 3vw 0 0 3vw ;
    font-size: 2.7vw;
    font-family: "Sukar Black";
    color:black;
    background-color: #ffd154;
}

.vision_txt{
    position: absolute;
    top: 125vh;
    right: 0;
    border-radius:40vw 0 30vw 80vw;
    text-align: justify;
    padding: 0em;
    padding-left: 8vw; 
    padding-top: 7.7vh;
    padding-right: 2.5vw;
    padding-bottom: 24vh;
    margin: 50px 0;
    width: 33vw;
    font-size: 1.4vw;
    font-family: "Sukar Black";
    color:white;
    background-color: rgba(0, 0, 0, 0.5);

}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.policies_sec {
    background-image: url('Backgrounds/PoliciesBG.png');
    }

.policies_title {
    position: absolute;
    top: 209vh;
    background-color: #ffd154;
    border-radius: 0 3vw 3vw 0;
    text-align: center;
    padding: 0em;
    width: 48vw;
    font-size: 2.7vw;
    font-family: "Sukar Black";
    color:Black;
    float: left;
}

.policies_txt{
    position: absolute;
    top: 215vh;
    float: left;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5vw 0;
    padding: 0em;
    width: 41.2vw;
    font-size: 1.2vw;
    font-family: "Sukar Black";
    color:white;
    padding-left: 2.8vw; 
    padding-top: 8vh;
    padding-right: 2.8vw;
    padding-bottom: 5vh

}

.procedures_title {
    position: absolute;
    top: 221vh;
    right: 0;
    background-color: #ffd154;
    border-radius: 3vw 0 0 3vw;
    text-align: center;
    padding: 0em;
    width: 48vw;
    font-size: 2.7vw;
    font-family: "Sukar Black";
    color:Black;
}

.procedures_txt{
    position: absolute;
    top: 227vh;
    right:0;
    width: 41.2vw;
    border-radius: 0 0 0 5vw;
    text-align: center;
    padding: 0em;
    font-size: 1.6vw;
    font-family: "Sukar Black";
    color:white;
    padding-left: 2.8vw; 
    padding-top: 8vh;
    padding-right: 2.8vw;
    padding-bottom: 5vh;
    background-color: rgba(0, 0, 0, 0.5);

}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.message_sec {
    background-image: url('Backgrounds/MessageBG.png');
    }

.bulawan_curator {
    position: absolute;
    top: 316vh;
    left: 1.1vw;
    height: auto; 
    width: 38vw;
}

.message_title {
    position: absolute;
    top: 310vh;
    right: 0;
    border-radius: 3vw 0 0 3vw;
    text-align: center;
    padding: 0em;
    width: 61vw;
    font-size: 2.7vw;
    font-family: "Sukar Black";
    color:back;
    background-color: #ffd154;
}

.message_txt{
    position: absolute;
    top: 323vh;
    right:3.5vw;
    text-align: justify;    
    padding: 0em;
    width: 55vw;
    font-size: 1.2vw;
    font-family: "LibreFranklin-Bold";
    color:white;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer_sec {
    height: 60vh;
    background-image: url('Backgrounds/FooterBG.png');
    }

.bulawan_logo {
    position: absolute;
    top: 405vh;
    left: 47vw;
    height: auto; 
    width: 6.5vw;
}

.bulawan_title {
    position: absolute;
    top:413vh;
    left:32vw;
    width:37vw;
    text-align: center;
    font-size: 3.8vw;
    font-family: "Intro Rust";
    color:black;
  }

.bulawan_tagline {
    position: absolute;
    font-size: 2.7vw;
    top:423vh;
    width:37vw;
    left:32vw;
    font-family: "Lumios Marker";
    text-align: center;
    color:black;
  }

.connect {
    position: absolute;
    top:434.5vh;
    left:40vw;
    width:20vw;
    border: none;
    border-top: 0.8vh solid black;
    text-align: center;
    font-size: 2.4vw;
    font-family: "Norwester";
    color:black;
  }

.contacts {
    position: absolute;
    top:448vh;
    left:38.7vw;
}

.contacts img {
    width: 3.6vw;
    margin: 0 1vw;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.contacts img:hover {
    width: 4vw;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 391px) {
    .background_sec {
        background-image: url('Mobile/HistoryBG.png');
        }

    .logo {
        position:absolute;
        top: 3vh;
        left: 5vw;
        height: auto;
        width:15vw;
        }

    .nav1 {
        position: absolute;
        top:5.4vh;
        left: 21vw;
        align-items: center;
        }
    
    .nav1_btn {
        font-family: "Sukar Black";
        font-size: 3.5vw;
        padding: 0em 1em;
        color:white;
        cursor: pointer;
        text-decoration: none;
        transition: font-size 0.3s ease-in-out;
        }
    
    .nav1_btn:hover {
        font-size: 3.7vw;
        border-radius: 5vw;
        background-color: rgba(0, 0, 0, 0.1);
        }

    .bulawan_title1 {
        position: absolute;
        top:8vh;
        left:20vw;
        text-align: center;
        font-size: 7vw;
        font-family: "Intro Rust";
        color:white;
        text-shadow: 0.3vw 0px 0.3vw #000000a8;
        }
    
    .bulawan_tagline1 {
        position: absolute;
        top:14vh;
        left:30vw;
        text-align: center;
        font-size: 3.5vw;
        font-family: "Lumios Marker";
        color:white;
        text-shadow: 0.3vw 0px 0.3vw #00000083;
        }
    
    .background_bit {
        position: absolute;
        top: 18vh;
        left: 50vw;
        transform: translateX(-50%);
        padding: 0em 0em;
        width: 85vw;
        border-radius: 2.4vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Sukar Black";
        color: black;
        font-size: 4vw;
        background-color: #ffd154;
    }
    
    .background_txt {
        position: absolute; 
        top:20vh;
        left: 6vw; 
        width: 82vw; 
        text-align: justify;
        padding-left: 3.2vw; 
        padding-top: 4vh;
        padding-right: 3.2vw;
        padding-bottom: 4vh;
        border-bottom-left-radius: 2.4vw;
        border-bottom-right-radius: 2.4vw;
        font-size: 2.1vw; 
        font-family: "Sukar Black";
        color: white;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .mvission_sec {
        background-image: url('Mobile/MVisionBG.png');
        }
    
    .mission_title {
        position: absolute;
        top: 107vh;
        left: 0;
        text-align: center;
        padding: 0em;
        width: 80vw;
        border-radius: 0 5vw 5vw 0;
        font-size: 6vw;
        font-family: "Sukar Black";
        color:black;
        background-color: #ffd154;
    }
    
    .mission_txt{
        position: absolute;
        top: 108vh;
        left: 0;
        border-radius: 0 35vw 38vw 0;
        text-align: center;
        padding-left: 5vw; 
        padding-top: 5vh;
        padding-right: 15vw;
        padding-bottom: 3vh;
        width: 60vw;
        font-size: 2.6vw;
        font-family: "Sukar Black";
        color:white;
        background-color: rgba(0, 0, 0, 0.5);
    
    }
    
    .vision_title {
        position: absolute;
        top: 153vh;
        right: 0;
        padding: 0em;
        width: 80vw;
        text-align: center;
        border-radius: 5vw 0 0 5vw ;
        font-size: 6vw;
        font-family: "Sukar Black";
        color:black;
        background-color: #ffd154;
    }
    
    .vision_txt{
        position: absolute;
        top: 150vh;
        right: 0;
        border-radius:50vw 0 30vw 90vw;
        text-align: center;
        padding: 0em;
        padding-left: 12vw; 
        padding-top: 4vh;
        padding-right: 2.5vw;
        padding-bottom: 7vh;
        margin: 50px 0;
        width: 70vw;
        font-size: 3.5vw;
        font-family: "Sukar Black";
        color:white;
        background-color: rgba(0, 0, 0, 0.5);
    
    }
    
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .policies_sec {
        background-image: url('Mobile/PoliciesBG.png');
        }
    
    .policies_title {
        position: absolute;
        top: 207vh;
        left: 13vw;
        background-color: #ffd154;
        border-radius: 2.2vw;
        text-align: center;
        padding: 0em;
        width: 70vw;
        font-size: 5vw;
        font-family: "Sukar Black";
        color:Black;
    }
    
    .policies_txt{
        position: absolute;
        top: 210vh;
        left: 13vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0 0 5vw 5vw;
        padding: 0em;
        width: 64vw;
        font-size: 2vw;
        font-family: "Sukar Black";
        color:white;
        padding-left: 2.8vw; 
        padding-top: 2vh;
        padding-right: 2.8vw;
        padding-bottom: 1vh
    
    }
    
    .procedures_title {
        position: absolute;
        top: 257.5vh;
        left: 13vw;
        background-color: #ffd154;
        border-radius: 2.2vw;
        text-align: center;
        padding: 0em;
        width: 70vw;
        font-size: 5vw;
        font-family: "Sukar Black";
        color:Black;
    }
    
    .procedures_txt{
        position: absolute;
        top: 261vh;
        left: 13vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0 0 5vw 5vw;
        padding: 0em;
        width: 64vw;
        font-size: 2.8vw;
        font-family: "Sukar Black";
        color:white;
        padding-left: 2.8vw; 
        padding-top: 4vh;
        padding-right: 2.8vw;
        padding-bottom: 5vh;
    }
    
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .message_sec {
        background-image: url('Mobile/MessageBG.png');
        }
    
    .bulawan_curator {
        position: absolute;
        top: 310vh;
        left: 13vw;
        height: auto; 
        width: 70vw;
    }
    
    .message_title {
        position: absolute;
        top: 303vh;
        left: 9vw;
        background-color: #ffd154;
        border-radius: 3vw;
        text-align: center;
        padding: 0em;
        width: 80vw;
        font-size: 5vw;
        font-family: "Sukar Black";
        color:Black;
    }
    
    .message_txt{
        position: absolute;
        top: 345vh;
        left:5vw;
        text-align: justify;    
        padding: 0em;
        width: 85vw;
        font-size: 2.6vw;
        font-family: "LibreFranklin-Bold";
        color:white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3vw;
        padding-left: 2vw; 
        padding-top: 2vh;
        padding-right: 2vw;
        padding-bottom: 2vh;
    }
    
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .footer_sec {
        height: 20vh;
        background-image: url('Mobile/FooterBG.png');
        }

    .bulawan_logo {
        position: absolute;
        top: 401.4vh;
        left: 46vw;
        height: auto; 
        width: 10vw;
    }

    .bulawan_title {
        position: absolute;
        top:404.4vh;
        left:30vw;
        width:42vw;
        text-align: center;
        font-size: 4.5vw;
        font-family: "Intro Rust";
        color:black;
    }

    .bulawan_tagline {
        position: absolute;
        font-size: 3.7vw;
        top:406.9vh;
        width:48vw;
        left:27vw;
        font-family: "Lumios Marker";
        text-align: center;
        color:black;
    }

    .connect {
        position: absolute;
        top:410.4vh;
        left:38vw;
        width:25vw;
        border: none;
        border-top: 0.2vh solid black;
        text-align: center;
        font-size: 3.4vw;
        font-family: "Norwester";
        color:black;
    }

    .contacts {
        position: absolute;
        top:415.9vh;
        left:29vw;
    }
    .contacts img {
        width: 6vw;
        margin: 0 1.8vw;
        cursor: pointer;
        transition: width 0.3s ease-in-out;
    }

    .contacts img:hover {
        width: 4vw;
    }

}